@media (max-width:1000px) {

    .container{
     background-color:#f1f3f6;
    }
    nav{
        flex-direction: column;
    }
    .search input{
        margin-bottom:16px ;
        margin-top: 10px;
    }
    nav ul{
        justify-content: center;
    }
    .logo{
        justify-content: center;
    }
    /* .card{
            overflow: scroll;
    } */
    .slider img{
        height: 30vh;
    }

    .subbox{
        max-width:17vw
    }
    .subbox img{
        max-width:10vw ;
    }
    
  }  
    